
GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/bENCH\.in

*.pid

ALGO_NAMES\.in

ALGO_NAMES\.json

BTCEURkurs

BTC_EUR_kurs\.in

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/ALGO_WATTS_MINES\.in

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/best_algo_netz\.out

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/best_algo_solar\.out

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/best_algo_solar_akku\.out

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/gpu_index\.in

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/ALGO_WATTS_MINES\.in

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/bENCH\.in

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/best_algo_netz\.out

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/best_algo_solar\.out

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/best_algo_solar_akku\.out

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/gpu_index\.in

KURSE\.in

KURSE\.json

gpu_system\.out

kWh_netz_Kosten_BTC\.in

kWh_solar_Kosten_BTC\.in

kWh_solar_akku_Kosten_BTC\.in

you_can_read_now\.sync

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/gpu_gv-algo\.sh

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/gpu_gv-algo\.sh

GLOBAL_GPU_ALGO_STATE

GLOBAL_GPU_ALGO_STATE\.BAK

gpu_system_state\.in

gpu_system_state\.in\.BAK

GLOBAL_GPU_ALGO_RUNNING_STATE

GLOBAL_GPU_ALGO_RUNNING_STATE\.BAK

GLOBAL_GPU_SYSTEM_STATE\.BAK

GLOBAL_GPU_SYSTEM_STATE\.in

*.in~

*.inc~

*.json~

*.sh~

BTCEURkurs~

FATAL_ERRORS\.log

GPU-skeleton/synctest\.sh

smartmeter

smartmeter\.original
