
*~

\#.*#

*\.BAK

*\.pid

ALGO_NAMES\.in

ALGO_NAMES\.json

BTCEURkurs

BTC_EUR_kurs\.in

KURSE\.in

KURSE\.json

gpu_system\.out

kWh_netz_Kosten_BTC\.in

kWh_solar_Kosten_BTC\.in

kWh_solar_akku_Kosten_BTC\.in

you_can_read_now\.sync

GLOBAL_GPU_ALGO_STATE

gpu_system_state\.in

GLOBAL_GPU_ALGO_RUNNING_STATE

GLOBAL_GPU_SYSTEM_STATE\.in

FATAL_ERRORS\.log

GPU-skeleton/synctest\.sh

smartmeter

smartmeter\.original

bENCH\.in

MULTI_ALGO_INFO\.json

GPU-742cb121-baad-f7c4-0314-cfec63c6ec70/*

GPU-84f7ca95-d215-185d-7b27-a7f017e776fb/*

benchmarking/test/*

benchmarking/temp/*

benchmarking/benchmark_.*\.log

benchmarking/benchmark_GPU-742cb121-baad-f7c4-0314-cfec63c6ec70\.json

benchmarking/benchmark_GPU-742cb121-baad-f7c4-0314-cfec63c6ec70\.original\.json

benchmarking/HASHCOUNTER

benchmarking/temp_einheit

benchmarking/temp_hash

benchmarking/tempazb

benchmarking/tempazw

benchmarking/temp_hash_sum_bc

benchmarking/more_watt_values\.fake

benchmarking/tweak_cmd\.log

benchmarking/COUNTER

benchmarking/bensh_gpu_30s_\.index

benchmarking/temp_hash_bc_input

benchmarking/temp_hash_sum

benchmarking/tempazI

benchmarking/temp_watt_sum

benchmarking/tweak_cmd_*

benchmarking/tweak_to_these_logs

benchmarking/uuid

benchmarking/watt_bensh_30s\.out

benchmarking/watt_bensh_30s_max\.out

benchmarking/nvidia-befehle/nvidia-Clock-Power\.out

benchmarking/nvidia-befehle/nvidia-settings

benchmarking/nvidia-befehle/smi

benchmarking/tweak_.*\.log

benchmarking/benching_0_algo

benchmarking/benching_0_miner

benchmarking/ALGO_PORTS\.in

benchmarking/tweak_commands\.log

benchmarking/equihash\.log

benchmarking/benching_1_algo

benchmarking/benching_1_miner

benchmarking/correct_benchmark_json\.sh

benchmarking/sed_insert_on_different_lines_cmd

benchmarking/watt_gpu\.sh

miners/minerstarts
